
<h1>Dealerships:</h1>
<%= link_to "New Dealership", "/dealerships/new" %>
<p>---------------------</p>
<% @dealerships.order_first.each do |dealer| %>
<p style="font-size: 20px"><b>Name:</b> <%= link_to dealer.name, "/dealerships/#{dealer.id}" %> <p>
<p style="font-size: 20px"><b>Created:</b> <%= dealer.created_at %><p>
<p><%= link_to "Edit #{dealer.name}", "/dealerships/#{dealer.id}/edit" %></p>
<p><%= link_to "Delete #{dealer.name}", "/dealerships/#{dealer.id}", method: :delete %></p>
<p>---------------------</p>
<% end  %>
