<h1>Dealership: <%= @dealership.name %> </h1>
<%= link_to "Update Dealership", "/dealerships/#{@dealership.id}/edit" %>
<p>---------------------------------</p>
<p style="font-size: 20px"><b>Number of Cars:</b> <%= @dealership.cars.count %></p>
<p style="font-size: 20px"><b>Name:</b> <%= @dealership.name %> </p>
<p style="font-size: 20px"><b>City Located In:</b> <%= @dealership.city %> </p>
<p style="font-size: 20px"><b>Employee Count:</b> <%= @dealership.employees %> </p>
<p style="font-size: 20px"><b>Offers Financing:</b> <%= @dealership.offer_financing %> </p>

<p>---------------------------------</p>
<h3>Customizing Links</h3>
<p><%= link_to "Cars in Dealership", "/dealerships/#{@dealership.id}/cars" %></p>
<p><%= link_to "Delete #{@dealership.name}", "/dealerships/#{@dealership.id}", method: :delete %></p>
