<ul>
  <li><a href="/dealerships/<%= @dealership.id %>/cars"><%= @dealership.name %> Index</a></li>
</ul>

<%= link_to "Update Dealership", "/dealerships/#{@dealership.id}/edit" %>

<h1>Dealership: <%= @dealership.name %> </h1>

<p>Number of Cars: <%= @dealership.cars.count %></p>

<p>Name: <%= @dealership.name %> </p>
<p>City Located In: <%= @dealership.city %> </p>
<p>Employee Count: <%= @dealership.employees %> </p>
<p>Offers Financing: <%= @dealership.offer_financing %> </p>
<p><%= link_to "Cars per Dealership", "/dealerships/#{@dealership.id}/cars" %></p>
