<ul>
  <li><a href="/dealerships">Dealerships Index</a></li>
  <li><a href="/cars">Cars Index</a></li>
</ul>

<h1>Dealership:</h1>

<p>Number of Cars: <%= @dealership.cars.count %></p>

<p>Name: <%= @dealership.name %> </p>
<p>City Located In: <%= @dealership.city %> </p>
<p>Employee Count: <%= @dealership.employees %> </p>
<p>Offers Financing: <%= @dealership.offer_financing %> </p>
