<%= link_to "New Gym", "/gyms/new" %>

<h1>Gyms</h1>

<% @gyms.create_first.each do |gym| %>
  <h3><a href="/gyms/<%= gym.id %>"><%= gym.name %></a></h3>
    <p>Created at: <%= gym.created_at %></p>
    <p><%= link_to "Edit #{gym.name}", "/gyms/#{gym.id}/edit", method: :get %></p>
    <p><%= link_to "Delete #{gym.name}", "/gyms/#{gym.id}", method: :delete %></p>
<% end %>
