<h1><%= @gym.name %></h1>
<p>City: <%= @gym.city %></p>
<p>Capacity: <%= @gym.capacity %></p>
<p>Is open: <%= @gym.is_open %></p>
<p>Machine Count: <%= @gym.machine_count %></p>
<p><%= link_to "Update #{@gym.name}", "/gyms/#{@gym.id}/edit", method: :get %></p>
<%= link_to "Machines in Gym", "/gyms/#{@gym.id}/machines" %>

<p><%= link_to "Delete #{@gym.name}", "/gyms/#{@gym.id}", method: :delete %></p>
