<h1>Cars:</h1>

<p> <% @cars.all_electrical.each do |car| %> </p>
<p>Name: <%= link_to car[:name], "/cars/#{car.id}"  %> </p>
<p>Body Style: <%= car[:body_style]  %> </p>
<p>MPG: <%= car[:mpg]  %> </p>
<p>Electrical: <%= car[:electrical]  %> </p>
<p><%= link_to "Edit #{car.name}", "/cars/#{car.id}/edit" %></p>
<p>---------------------</p>
<p><% end %> </p>
