<p><%= link_to "Update Car", "/cars/#{@car.id}/edit" %></p>

<h1>Car:</h1>


<p>Name: <%= @car.name %> </p>
<p>Body Style: <%= @car.body_style %> </p>
<p>MPG: <%= @car.mpg %> </p>
<p>Electrical: <%= @car.electrical %> </p>
