<a href="/">Home Page</a>
<h1>Machines</h1>

<% @machines.show_broken.each do |machine| %>
  <h3><a href="/machines/<%= machine.id %>"><%= machine.name %></a></h3>
    <ul>
      <li>Section: <%= machine.section %></li>
      <li>Recommended Sets: <%= machine.recommended_sets %></li>
      <li>Recommended Reps: <%= machine.recommended_reps %></li>
      <li>Is broken?: <%= machine.is_broken %></li>
    </ul>
<% end %>
