<a href="/machines">Machines Index</a>

<h1><%= @machine.name %></h1>
<p>Section: <%= @machine.section %></p>
<p>Recommended Sets: <%= @machine.recommended_sets %></p>
<p>Recommended Reps: <%= @machine.recommended_reps %></p>
<p>Broken?: <%= @machine.is_broken %></p>
