<a href="/machines">Machines Index</a>
<h1><%= @machine.name %></h1>
<p>Section: <%= @machine.section %></p>
<p>Recommended Sets: <%= @machine.recommended_sets %></p>
<p>Recommended Reps: <%= @machine.recommended_reps %></p>
<p>Is Broken?: <%= @machine.is_broken %></p>

<%= link_to "Update #{@machine.name}", "/machines/#{@machine.id}/edit" %>
<p><%= link_to "Delete #{@machine.name}", "/machines/#{@machine.id}", method: :delete %></p>
