<!DOCTYPE html>
<html>
  <head>
    <title>RelationalRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <ul>
      <li><a href="/">Home page</a></li>
      <li><a href="/machines">Machine Index</a></li>
      <li><a href="/gyms">Gym Index</a></li>
    </ul>
    <%= yield %>
  </body>
</html>
