<!DOCTYPE html>
<html>
  <head>
    <title>RelationalRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h4>Navigation</h4>
    <p style="line-height: 0.1"><a href="/">Home Page</a></p>
    <p style="line-height: 0.1"><a href="/gyms">Gyms Index</a></p>
    <p style="line-height: 0.1"><a href="/machines">Machines Index</a></p>
    <p style="line-height: 0.1"><a href="/dealerships">Dealerships Index</a></p>
    <p style="line-height: 0.1"><a href="/cars">Cars Index</a></p>
    <%= yield %>
  </body>
</html>
