<!DOCTYPE html>
<html>
  <head>
    <title>RelationalRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <ul>
      <li><a href="/gyms">Gyms Index</a></li>
      <li><a href="/machines">Machines Index</a></li>


      <li><a href="/dealerships">Dealerships Index</a></li>
      <li><a href="/cars">Cars Index</a></li>

    </ul>
    <%= yield %>
  </body>
</html>
